<nav class="social-media-list">
  <a
    rel="me"
    href="{{ site.slack_invite_url }}"
    title="BOLT.FUN Slack"
  >
    {% include slack.svg %}
  </a>
  <a
    rel="me"
    href="https://github.com/BitcoinDesign"
    title="BOLT.FUN on Github"
  >
    {% include github.svg %}
  </a>
  <a
    rel="me"
    href="{{ site.twitter_url }}"
    title="BOLT.FUN on Twitter"
  >
    {% include twitter.svg %}
  </a>
<!--  <a -->
<!--    rel="me" -->
<!--    href="{{ site.youtube_url }}" -->
<!--    title="BOLT.FUN on YouTube"-->
<!--  >-->
<!--    {% include youtube.svg %}-->
<!--  </a>-->
</nav>
