// --------------------------------
// Header
// --------------------------------
#header {
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner-player {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  @include gt-md {
    .banner-player {
      display: block;
    }
  }

  @include gt-sm {
    height: auto;
  }
}

// --------------------------------
// About
// --------------------------------

#about {
  @include gt-sm {
    display: flex;
    align-items: start;
    gap: 40px;
  }

  .text {
    p:not(:last-of-type) {
      margin-bottom: 1em;
    }
  }

  #register-counter {
    flex-shrink: 0;
    margin: 40px auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    background-color: #f4f7ff;
    border-radius: 10px;
    width: max-content;

    @include gt-sm {
      margin-top: 0;
    }

    .counters-list {
      // flex justify-center gap-12
      display: flex;
      justify-content: center;
      gap: 12px;

      div {
        min-width: 60px;
        text-align: right;
        overflow-wrap: normal;
        font-weight: 500;
      }
    }

    button.discord-btn {
      background-color: #7c3aed;
    }
  }
}

// --------------------------------
// Join Slack
// --------------------------------

#join-slack {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  text-align: center;

  a {
    flex-shrink: 0;
    order: 2;
    &:hover {
      text-decoration: none;
    }

    button {
      background-color: #ef4444;

      .icon {
        width: 20px;
        height: 20px;
        margin-right: 14px;
      }
    }
  }
  @include gt-sm {
    flex-direction: row;
    text-align: left;

    a {
      order: 0;
    }
  }
}

// --------------------------------
// Prizes
// --------------------------------

#prizes {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid #ddd;
  background-color: #ddd;
  border-radius: 10px;

  .card {
    background-color: white;
    padding: 32px;
    width: 100%;
    flex-grow: 1;
    flex-basis: 100%;

    @include gt-xs {
      flex-basis: 48%;
    }

    @include gt-md {
      flex-basis: calc(20% - 11px);
    }

    img {
      height: 150px;
      object-fit: cover;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        white-space: nowrap;
      }
    }
  }
}

// --------------------------------
// Calender
// --------------------------------

#calender {
  .day {
    .open-collapse-btn {
      width: 32px;
      height: 32px;

      &:active {
        opacity: 0.9;
        transform: scale(0.95);
      }

      img {
        display: inline-block;
        transition: transform 500ms ease-in-out;
      }
    }

    &.collapse-open {
      .open-collapse-btn img {
        transform: rotate(180deg);
      }
    }

    .day-header {
      .title {
        display: flex;
        gap: 24px;
        @include font-size-body1;

        @include lt-md {
          @include font-size-body2;
        }

        @include xs {
          flex-direction: column;
          gap: 8px;
          .day-number span {
            display: none;
          }
        }

        h3 {
          position: relative;
          .ext {
            position: absolute;
            top: 0;
            left: 100%;
            font-size: 14px;
          }
        }
      }
    }
    .events {
      .content {
        max-width: calc(100% - 30px - 32px);
      }

      .youtube-link {
        justify-content: center;
        @include lt-sm {
          margin-top: 20px;
          flex-basis: 100%;
        }
      }
    }
  }
}

// --------------------------------
// Judges
// --------------------------------

#judges {
  .judges-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .judge-card {
      padding: 16px;
      min-width: 220px;

      img {
        width: 150px;
        height: 150px;
        object-fit: contain;
      }
    }
  }
}

// ----------------------------------
// FAQs
// ----------------------------------

#faqs {
  .open-collapse-btn {
    width: 32px;
    height: 32px;

    &:active {
      background-color: lightgray;
      transform: scale(0.95);
    }

    img {
      display: inline-block;
      transition: transform 500ms ease-in-out;
    }
  }
  .collapse-open {
    .open-collapse-btn img {
      transform: rotate(180deg);
    }
  }
}

// ----------------------------------
// Fulgur
// ----------------------------------
#fulgur {
  .container {
    background-color: black;
    position: relative;
    border-radius: 12px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    @include gt-sm {
      justify-content: space-around;
      padding: 40px 80px;
    }

    align-items: center;
    color: white;
    overflow: hidden;

    @include gt-sm {
      flex-direction: row;
      height: 534px;
    }

    .lines-h,
    .lines-v {
      position: absolute;
    }

    .lines-h {
      left: 0;
      right: 0;
      bottom: 50%;
      width: 100%;
      height: 50%;
    }

    .lines-v {
      right: 60%;
      display: none;
      width: 40%;
      height: 100%;
    }

    @include gt-sm {
      .lines-h {
        display: none;
      }
      .lines-v {
        display: block;
      }
    }

    .logo-container,
    .content {
      z-index: 2;
    }

    .logo-container {
      z-index: 2;
      min-width: 50%;
      display: flex;
      justify-content: center;
      .logo {
        max-width: 320px;
      }
    }

    .content {
      min-width: 50%;
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: 387px;
      text-align: center;

      @include gt-sm {
        text-align: initial;
      }

      h2 {
        color: white;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 125%;
        /* or 50px */

        letter-spacing: -2px;
        font-feature-settings: "ss01" on, "ss05" on, "ss06" on, "ss07" on,
          "ss04" on, "ss03" on, "ss02" on;

        @include gt-sm {
          font-size: 40px;
        }
      }

      p {
        font-size: 16px;
        @include gt-sm {
          font-size: 20px;
        }
      }
      a {
        @include gt-sm {
          max-width: 200px;
        }
        &:hover {
          color: white;
          text-decoration: none;
        }
        button {
          background: linear-gradient(90deg, #ff783c 35%, #ff4154 100%);
          border-radius: 12px;
          font-size: 16px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 12px 16px;
          width: 100%;
        }
      }
    }
  }
}

// ----------------------------------
// Patnerships
// ----------------------------------

#partenrships {
  .partners-list {
    display: grid;
    overflow: hidden;
    background-color: gainsboro;
    gap: 1px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @include gt-sm {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .partner-card {
      background-color: white;
      img {
        width: 80px;
        height: 80px;
        border-radius: 20px;
      }
    }
  }
}

// ----------------------------------
// Sponsores
// ----------------------------------

#sponsors {
  .sponsors-list {
    display: grid;
    // overflow: hidden;
    gap: 1px;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    .sponsor-card {
      background-color: white;
      outline: 1px solid #ddd;
      img {
        width: 80px;
        height: 80px;
        border-radius: 20px;
      }

      &:first-of-type {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      &:last-of-type {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

    @include gt-sm {
      grid-template-columns: repeat(2, minmax(0, 1fr));

      .sponsor-card {
        &:first-of-type {
          border-top-left-radius: 10px;
          border-top-right-radius: 0px;
        }

        &:nth-of-type(2) {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
}

// ----------------------------------
// Past Events
// ----------------------------------
#past-events {
  .past-events-list {
    display: grid;

    @include xs {
      grid-template-columns: 1fr;
    }
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));

    a:hover {
      color: inherit;
      text-decoration: none;
    }

    .past-event-card {
      overflow: hidden;
      & > img {
        width: 100%;
        height: 120px;
        object-fit: cover;
      }

      .badge {
        padding: 4px 12px;
        border-radius: 16px;
        background-color: #f0fdf4;
        color: #22c55e;
        margin-left: 8px;
      }
    }
  }
}
